@model KNI_D6_web.ViewModels.Achievements.AchievementsViewModel
@using KNI_D6_web.Model;
@{
    ViewData["Title"] = "Достижения";
}


<h1>Достижения</h1>

@if (User.IsInRole(UserRoles.Admin))
{
    <div class="text-center">
        <a class="btn btn-outline-primary m-2" asp-controller="Achievements" asp-action="CreateValueAchievement">Добавить вычисляемое достижение</a>
        <a class="btn btn-outline-primary m-2" asp-controller="Achievements" asp-action="CreateCustomAchievement">Добавить невычисляемое достижение</a>
        <a class="btn btn-outline-primary m-2" asp-controller="AchievementGroups" asp-action="Index">Группы достижений</a>
    </div>
}

<div>
    <div class="py-5">
        @foreach (var group in Model.AchievementsInGroups)
        {
            <div class="container rounded rounded-lg m-2 ">
                <ul class="list-unstyled">
                    @foreach (var item in group)
                    {
                        <li class="media border bg-light border-secondary rounded rounded-lg p-2 m-1">
                            <!--<img src="..." class="mr-3" alt="...">-->
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">@item.Name</h5>
                                @item.Description
                                <br />
                                @if (User.IsInRole(UserRoles.Admin))
                                {
                                    <div class="mt-1">
                                        <a class="btn btn-sm btn-warning ml-1" asp-action="Edit" asp-route-id="@item.Id"> Изменить </a>
                                        <a class="btn btn-sm btn-primary ml-1" asp-action="Details" asp-route-id="@item.Id"> Подробнее </a>
                                        <a class="btn btn-sm btn-danger ml-1" asp-action="Delete" asp-route-id="@item.Id"> Удалить </a>
                                    </div>
                                }
                            </div>
                        </li>

                    }
                </ul>
            </div>
            <br>
        }
    </div>
</div>