@model KNI_D6_web.ViewModels.Users.UserDetailsViewModel
@using KNI_D6_web.Model;
@using KNI_D6_web.ViewModels.Visits;

@{
    ViewData["Title"] = "О игроке";
}

<h1>О игроке @Model.User.UserName</h1>
<div class="m-2">
    <h3>Статус в клубе: @Model.User.Position.GetDescription()</h3>
</div>
<div class="m-2">
    @if (User.Identity.Name == Model.User.UserName || User.IsInRole(UserRoles.Admin))
    {
        <a class="btn btn-danger" asp-controller="Account" asp-action="ChangePassword" asp-route-login="@Model.User.UserName"> Изменить пароль </a>
    }
    @if (User.IsInRole(UserRoles.Admin))
    {
        <a class="btn btn-warning ml-1" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.User.Id"> Настроить роли </a>
    }
</div>
<div>
    <table class="table table-hover">
        <tbody>
            @foreach (var item in Model.User.ParameterValues)
            {
                <tr>
                    <td scope="row">@item.Parameter.Name </td>
                    <td>@item.Value </td>
                    @if (User.IsInRole(UserRoles.Moderator) || User.IsInRole(UserRoles.Admin))
                    {
                        <td>
                            <a class="btn btn-success"
                               asp-controller="Parameters"
                               asp-action="IncrementParameterValue"
                               asp-route-parameterId="@item.ParameterId"
                               asp-route-userId="@Model.User.Id">
                                +
                            </a>

                            @if (item.Value == 0)
                            {
                                Html.Raw("disabled");
                                <button type="button" class="btn btn-danger" disabled>-</button>
                            }
                            else
                            {
                                Html.Raw("disabled");
                                <a class="btn btn-danger"
                                   asp-controller="Parameters"
                                   asp-action="DecrementParameterValue"
                                   asp-route-parameterId="@item.ParameterId"
                                   asp-route-userId="@Model.User.Id">
                                    -
                                </a>
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h2>Достижения </h2>

    @if (Model.User.UserAchievements.Any())
    {
        <div class="container rounded rounded-lg m-2 ">
            <ul class="list-unstyled">
                @foreach (var item in Model.User.UserAchievements)
                {
                    <li class="media border bg-light border-secondary rounded rounded-lg p-2 m-1">
                        <!--<img src="..." class="mr-3" alt="...">-->
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">@item.Achievement.Name</h5>
                            @item.Achievement.Description
                            <br />
                        </div>
                    </li>

                }
            </ul>
        </div>
    }
    else
    {
        <h5>Достижений пока нет, но скоро будут!</h5>
    }

    @if (User.IsInRole(UserRoles.Moderator) || User.IsInRole(UserRoles.Admin))
    {
        <a class="btn btn-primary" asp-action="ManageAchievements" asp-route-userId="@Model.User.Id">Изменить достижения</a>
    }
</div>

<div class="mt-2">
    <h2>Посещаемость</h2>
    <table class="table table-hover">
        @if (Model.EventVisits.Any())
        {
            if (User.IsInRole(UserRoles.Moderator) || User.IsInRole(UserRoles.Admin) )
            {
                @foreach (var item in Model.EventVisits)
                {
                    @switch (item.State)
                    {
                        case EventVisitState.Visited:
                            <tr class="table-success">
                                <td>@item.EventName</td>
                                <td>@item.Date.Date.ToLongDateString()</td>
                            </tr>
                            break;
                        case EventVisitState.NotVisited:
                            <tr class="table-danger">
                                <td>@item.EventName</td>
                                <td>@item.Date.Date.ToLongDateString()</td>
                            </tr>
                            break;
                        case EventVisitState.NotHappendYet:
                            <tr class="table-secondary">
                                <td>@item.EventName</td>
                                <td>@item.Date.Date.ToLongDateString()</td>
                            </tr>
                            break;
                        default:
                            break;
                    }
                }
            }
            else
            {
                @foreach (var item in Model.EventVisits.Where(i => i.State == EventVisitState.Visited))
                {
                    <tr class="table-success">
                        <td>@item.EventName</td>
                        <td>@item.Date.Date.ToLongDateString()</td>
                    </tr>
                }
            }
        }
        else
        {
            <tr class="table-danger">
                <td>Список мероприятий пуст!</td>
            </tr>
        }
    </table>
</div>

<div>
    <a class="btn btn-outline-primary mt-4" asp-action="Index">К списку игроков</a>
</div>
