@model  KNI_D6_web.ViewModels.Users.UserDetailsViewModel
@{
    ViewData["Title"] = "О игроке";
}

<h1>О игроке @Model.User.UserName</h1>

<div>
    <table class="table">
        <tbody>
            @foreach (var item in Model.User.ParameterValues)
            {
                <tr>
                    <td>@item.Parameter.Name </td>
                    <td>@item.Value </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h2>Достижения @Model.User.UserName</h2>
    <table class="table">
        @foreach (var item in Model.User.UserAchievements)
        {
            <tr>
                <td>@item.Achievement.Name</td>
            </tr>
        }
    </table>
</div>